<header class="container-fluid d-flex justify-content-evenly align-items-center">


  <div class="row">
    <div class="col-lg-6">
      <div><img src="/src/assets/hero.jpg" class="img-fluid mx-lg-2" alt=""></div>
    </div>
    <div class="col-lg-6 d-flex align-items-center justify-content-center">
    <div class="description">
      <h1>Welcome to Inspirational Quotes</h1>
      <p>View posts from famous people that are timeless.<br> <br> Share a Quote today to make someone's day.</p> 
      <a href="#submitQuote" class="btn btn-success">Submit Quote</a>
    </div>


    </div>
  </div>
    
  
  
</header>
<div class="container">
  <h1 class="text-center">Quotes</h1>
  <div class="row">
    <div *ngFor="let quote of quotes; let i = index" class="col-lg-6 my-2">
      <div class="card h-100">
        <div class="card-title">Posted by {{quote.submittedBy.firstName}} {{quote.submittedBy.lastName}} {{quote.createdOn | timeElapsed}}</div>
        <div
          class="card-body"
          [attr.id]="quote.id"
          appHighlight
          [appHighlight]="mostVotedQuote"
          [index]="i"
        >
          <p>{{ quote.content }}</p>
        </div>
        <app-quote-detail
          [quote]="quote"
          (upVote)="upVoteQuote(i)"
          (downVote)="downVoteQuote(i)"
        ></app-quote-detail>
      </div>
    </div>
  </div>
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>

<footer class="text-center bg-secondary mt-5">
  &copy; 2022 Francis Githae
</footer>