/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html{
  width:100vw;
  overflow-x: hidden;
}
.highlighted{
  background:blue;
  color:white;
}

.button:hover{
cursor: pointer;
}