<div class="quote-form container rounded-3 ">
<h1 class="text-center mt-5">Submit Quote</h1>
<form [formGroup]="quoteForm" (ngSubmit)="submitQuote()">
  <div class="row mb-3 gy-2">
    <div class="col-lg-6 form-group">
      <input
        formControlName="firstName"
        type="text"
        class="form-control rounded-pill"
        id="firstName"
        name="firstName"
        placeholder="First name"
        aria-label="First name"
        [(ngModel)]="newQuote.submittedBy.firstName"
        required
      />
      <span
        class="text-danger"
        *ngIf="
          (quoteForm.get('firstName')?.invalid &&
            quoteForm.get('firstName')?.touched) ||
          (submitted && quoteForm.get('firstName')?.invalid)
        "
        >First name is required</span
      >
    </div>
    <div class="col-lg-6 form-group">
      <input
        formControlName="lastName"
        type="text"
        class="form-control rounded-pill"
        id="lastName"
        name="lastName"
        placeholder="Last name"
        aria-label="Last name"
        [(ngModel)]="newQuote.submittedBy.lastName"
        required
      />
      <span
        class="text-danger"
        *ngIf="
          (quoteForm.get('lastName')?.invalid &&
            quoteForm.get('lastName')?.touched) ||
          (submitted && quoteForm.get('lastName')?.invalid)
        "
        >Last name is required</span
      >
    </div>
  </div>

  <div class="row mb-3 gy-2">
    <div class="col-lg-6 form-group">
      <textarea
        formControlName="quote"
        class="form-control rounded-3"
        id="quote"
        placeholder="quote"
        rows="3"
        name="quote"
        [(ngModel)]="newQuote.content"
        required
      ></textarea>
      <span
        class="text-danger"
        *ngIf="
          (quoteForm.get('quote')?.invalid &&
            quoteForm.get('quote')?.touched) ||
          (submitted && quoteForm.get('quote')?.invalid)
        "
        >Quote is required</span
      >
    </div>
    <div class="col-lg-6 form-group">
      <input
        formControlName="author"
        type="text"
        class="form-control rounded-pill"
        placeholder="Author"
        aria-label="First name"
        id="author"
        name="author"
        [(ngModel)]="newQuote.author"
        required
      />
      <span
        class="text-danger"
        *ngIf="
          (quoteForm.get('author')?.invalid &&
            quoteForm.get('author')?.touched) ||
          (submitted && quoteForm.get('author')?.invalid)
        "
        >Author is required</span
      >
    </div>
  </div>

  <div class="d-flex justify-content-center ">
    <button type="submit" id="submitQuote" class="btn btn-success mb-3">
      Submit Quote
    </button>
  </div>
</form>
</div>