<form action="">
  <div class="row mb-3">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" aria-label="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
    </div>
  </div>
 
  <div class="row mb-3">
    <div class="col">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" aria-label="First name">
    </div>
  </div>
  <input type="submit" class="form-control" value="Submit Quote">
</form>